.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 136, 136);
  background-image: url(images/nature.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.signup-box {
  background-color: rgb(200, 239, 251);
  min-width: 35%;
  min-height: 35%;
  border: 5px solid rgb(167, 206, 242);
  border-radius: 30px;
  box-shadow: 5px 10px 0 rgba(39, 109, 115, 0.1);
  padding: 10px;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  margin-top: 10px;
  font-size: 16px;
}

input[type="text"] {
  width: 40%;
  padding: 7px;
  font-size: 14px;
}

label {
  flex-basis: 170px;
  margin-top: 10px;
  font-size: 18px;
}

input[type="button"] {
  width: 70%;
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(167, 206, 237);
}

@media all and (max-width: 480px) {
  .input-box {
    flex-direction: column;
  }
}
